h2 {
  position: relative;
  display: inline-block;
}

.custom-underline {
  position: absolute;
  content: '';
  height: 6px; 
  width: 50%; 
  background-color: black; 
  bottom: -6px; 
  left: 25%; 
  border-radius: 3px;
}